.nav {
background-color: white;
color: black;
width: 100%;
display: flex;
align-items: center;
position: relative;
padding: 0.5rem 0 rem;
}

.navigation {
    margin-left:auto;
}

.menu{
display: flex;
padding: 0;
}

.links{
list-style-type: none;
margin: 0 1rem;    
}

.links a {
text-decoration: none;
display: block;
width: 100%;
}

.hamburger{
border: 0;
height: 40px;
width: 40px;
padding: 0.5rem;
border-radius: 50%;
background-color: #283b8b;
cursor: pointer;
transition: background-color 0.2s ease-in-out;
position: absolute;
top: 50%;
right: 25px;
transform: translateY(-50%);
display: none;
}

.hamburger:hover {
    background-color: #2642af;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
      }
      .menu {
        position: absolute;
        top: 146px;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 147px);
        background-color: white;
        border-top: 1px solid black
      }
      .links {
        text-align: center;
        margin: 0;
      }
      .links a {
        color: black;
        width: 100%;
        padding: 1.5rem 0;
      }
      .links:hover {
        background-color: #eee;
      }
      .navigation.expanded {
        display: block;
      }
}